<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /subdirectory
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteCond %{REQUEST_FILENAME} !-l
  RewriteRule . /index.html [L]
</IfModule>
RewriteCond %{HTTP_REFERER} !^http://apiguarashooping.mwps.com.br/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://apiguarashooping.mwps.com.br$      [NC]
RewriteCond %{HTTP_REFERER} !^http://apishopee.mwps.com.br/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://apishopee.mwps.com.br$      [NC]
RewriteCond %{HTTP_REFERER} !^http://autochat.mwps.com.br/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://autochat.mwps.com.br$      [NC]
RewriteCond %{HTTP_REFERER} !^http://backendintersolid.mwps.com.br/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://backendintersolid.mwps.com.br$      [NC]
RewriteCond %{HTTP_REFERER} !^http://cursilho.mwps.com.br/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://cursilho.mwps.com.br$      [NC]
RewriteCond %{HTTP_REFERER} !^http://guaracity.mwps.com.br/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://guaracity.mwps.com.br$      [NC]
RewriteCond %{HTTP_REFERER} !^http://guarashooping.mwps.com.br/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://guarashooping.mwps.com.br$      [NC]
RewriteCond %{HTTP_REFERER} !^http://guarashopping.com.br/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://guarashopping.com.br$      [NC]
RewriteCond %{HTTP_REFERER} !^http://img.mwps.com.br/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://img.mwps.com.br$      [NC]
RewriteCond %{HTTP_REFERER} !^http://intersolid.mwps.com.br/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://intersolid.mwps.com.br$      [NC]
RewriteCond %{HTTP_REFERER} !^http://mwps.com.br/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://mwps.com.br$      [NC]
RewriteCond %{HTTP_REFERER} !^http://sandbox.mwps.com.br/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://sandbox.mwps.com.br$      [NC]
RewriteCond %{HTTP_REFERER} !^http://voting.mwps.com.br/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://voting.mwps.com.br$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.apiguarashooping.mwps.com.br/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.apiguarashooping.mwps.com.br$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.apishopee.mwps.com.br/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.apishopee.mwps.com.br$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.autochat.mwps.com.br/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.autochat.mwps.com.br$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.backendintersolid.mwps.com.br/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.backendintersolid.mwps.com.br$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.cursilho.mwps.com.br/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.cursilho.mwps.com.br$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.guaracity.mwps.com.br/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.guaracity.mwps.com.br$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.guarashooping.mwps.com.br/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.guarashooping.mwps.com.br$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.guarashopping.com.br/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.guarashopping.com.br$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.img.mwps.com.br/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.img.mwps.com.br$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.intersolid.mwps.com.br/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.intersolid.mwps.com.br$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.mwps.com.br/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.mwps.com.br$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.sandbox.mwps.com.br/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.sandbox.mwps.com.br$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.voting.mwps.com.br/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.voting.mwps.com.br$      [NC]
RewriteCond %{HTTP_REFERER} !^https://apiguarashooping.mwps.com.br/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://apiguarashooping.mwps.com.br$      [NC]
RewriteCond %{HTTP_REFERER} !^https://apishopee.mwps.com.br/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://apishopee.mwps.com.br$      [NC]
RewriteCond %{HTTP_REFERER} !^https://autochat.mwps.com.br/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://autochat.mwps.com.br$      [NC]
RewriteCond %{HTTP_REFERER} !^https://backendintersolid.mwps.com.br/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://backendintersolid.mwps.com.br$      [NC]
RewriteCond %{HTTP_REFERER} !^https://cursilho.mwps.com.br/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://cursilho.mwps.com.br$      [NC]
RewriteCond %{HTTP_REFERER} !^https://guaracity.mwps.com.br/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://guaracity.mwps.com.br$      [NC]
RewriteCond %{HTTP_REFERER} !^https://guarashooping.mwps.com.br/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://guarashooping.mwps.com.br$      [NC]
RewriteCond %{HTTP_REFERER} !^https://guarashopping.com.br/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://guarashopping.com.br$      [NC]
RewriteCond %{HTTP_REFERER} !^https://img.mwps.com.br/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://img.mwps.com.br$      [NC]
RewriteCond %{HTTP_REFERER} !^https://intersolid.mwps.com.br/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://intersolid.mwps.com.br$      [NC]
RewriteCond %{HTTP_REFERER} !^https://mwps.com.br/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://mwps.com.br$      [NC]
RewriteCond %{HTTP_REFERER} !^https://sandbox.mwps.com.br/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://sandbox.mwps.com.br$      [NC]
RewriteCond %{HTTP_REFERER} !^https://voting.mwps.com.br/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://voting.mwps.com.br$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.apiguarashooping.mwps.com.br/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.apiguarashooping.mwps.com.br$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.apishopee.mwps.com.br/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.apishopee.mwps.com.br$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.autochat.mwps.com.br/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.autochat.mwps.com.br$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.backendintersolid.mwps.com.br/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.backendintersolid.mwps.com.br$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.cursilho.mwps.com.br/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.cursilho.mwps.com.br$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.guaracity.mwps.com.br/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.guaracity.mwps.com.br$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.guarashooping.mwps.com.br/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.guarashooping.mwps.com.br$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.guarashopping.com.br/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.guarashopping.com.br$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.img.mwps.com.br/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.img.mwps.com.br$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.intersolid.mwps.com.br/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.intersolid.mwps.com.br$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.mwps.com.br/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.mwps.com.br$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.sandbox.mwps.com.br/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.sandbox.mwps.com.br$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.voting.mwps.com.br/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.voting.mwps.com.br$      [NC]
RewriteRule .*\.(jpg|jpeg|gif|png|bmp)$ - [F,NC]

